#carbon{
    padding-top: 100px;
    background: url('https://github.com/akankshaajoshi/EcoSavvy/blob/master/src/Resources/coal.jpg?raw=true');
}
.carbon-section{
    background-color: #99999999;
    margin-top:100px;
}
.sections{
    
}
.question{
    display: inline;
}
#input{
    display: flex;
    flex-direction: row;
}