* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    overflow-x: hidden;
}

.blur {
    backdrop-filter: blur(5px);
    height:280em;
}

.home {
    background-image: url("https://github.com/akankshaajoshi/EcoSavvy/blob/master/Resources/pexels-deva-darshan-1173777.jpg?raw=true");
    color: white;
    /* height:300vh; */
}
#home-content {
    padding: 14vw 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

#intro {
    width: 60vw;
    padding: 50px 90px;
    line-height: 35px;
    text-align: left;
}

.logo2 {
    width: 40vw;
}


.button {
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, rgba(18, 80, 20, 0.899), rgb(13, 184, 13));
    padding: 10px 20px;
    border-radius: 30px;
}

#about-left {
    margin-left: 90px;
    display: flex;
    align-items: flex-start;
}
#resource-section{
    padding-top: 7%;
    padding-bottom: 9%;
}

.resource {
    background-color: #0000007c;
    border-radius: 45px;
    padding: 20px;
    margin: 5vw auto;
    width:50vw;
    transition: 0.1s;
}
.resource:hover{
    transform:scale(1.007);
}
#resource-section .button{
    margin:50px;
}
#resource-section p{
    margin:40px;
    line-height: 30px;
    font-size: 17px;
    font-style: italic;
}
#resource-section img{
    margin:50px auto 20px auto;
    width:44vw;
    border-radius: 20px;
}
#resource-section h1{
margin-top: 20px;
}

#footer {
    background-color: black;
    color: grey;
    padding: 10px 0px;
}
#news-section{
    padding: 0px 55px;
    display: flex;
    width:100%;
    justify-content: space-between;
}
#vert-newsbox{
    background-color: #00000050;
    margin:50px 0px;
    width:16%;
    border-radius: 30px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
#vert-news-img{
    border-radius: 10px;
    width:100%;
}
#vert-news-title{
    margin-bottom:15px;
}
#read-more{
    margin: 20px;
}