#carbon{
    padding: 100px;
    background: url('https://github.com/akankshaajoshi/EcoSavvy/blob/master/Resources/coal.jpg?raw=truehttps://github.com/akankshaajoshi/EcoSavvy/blob/master/src/Resources/coal.jpg?raw=true');
    font: black 3px;
}

.carbon-section{
    background-color: #99999999;
    margin-bottom: 0px !important;
    padding: 20px;
    padding-bottom: 20px !important;
    border-radius: 3px;
    width: 100%;
    text-align: center;
}

div.question{
    margin: 10px;
    padding: 5px;
}

.question{
    display: inline;
    margin: 10px;
    padding: 20px;
}
