#Gpt{
    background-color: grey;
    padding-top: 5vw;
    height:100vh;
}
#chat{
    background-color: #00000066;
    height:60vh;
    margin: 50px 10vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    padding :10px 50px;
    
}
#message{
    width: 80vw;
    margin: 20px auto;
}   
.mess{
    border-radius: 10px;
    background-color: #00000055;
    margin: 10px 0px;
    padding: 10px;
    
}

.flex-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flex-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
