#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    z-index:1;
    width:100%;
    background-color: #0000001d;
    backdrop-filter:blur(10px);
    height:65px;

}

.navbar-brand img{
    /* margin-top:-7px; */
    width:14vw;
}
.navbar-nav{
    background-color: rgba(0, 0, 0, 0.353);
    padding:5px 5px;
    border-radius: 30px;
    display: flex;
    margin-right: 20px;
}
.navbar .nav-item{
    /* float: right; */
    margin:10px;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    padding:5px 15px;
    color:white;
    border-radius: 30px;
    transition: 0.2s;
}

.navbar a:active{
    background-color: darkgreen;
}

.navbar a:hover{
    background-color: green;
    border: green;
}


