#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    z-index:1;
    width:100%;
}

a.navbar-brand{
    font-size: 40px;
    font-weight: bold;
    margin: 10px 20px;
    padding: 2px;
    text-decoration: none;
}
.navbar-nav{
    display: flex;
    margin-right: 20px;
}
.navbar .nav-item{
    /* float: right; */
    list-style: none;
}

.navbar a{
    text-decoration: none;
    padding:20px;
}

.navbar a:active{
    background-color: darkgreen;
}

.navbar a:hover{
    background-color: green;
    border: green;
}


